<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    position="end"
    [ngClass]="{ hideSideNav: !(isHandset$ | async) }"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over"
    opened="false"
  >
    <mat-toolbar>Menu </mat-toolbar>
    <mat-nav-list *ngIf="ContentType === 1">
      <a mat-list-item routerLink="/Home">Home</a>
      <a mat-list-item routerLink="/Home/About">About</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="ContentType === 2">
      <a mat-list-item routerLink="/Home">Home</a>
      <a mat-list-item routerLink="/Villages/Build">Build</a>
      <a mat-list-item routerLink="/Admin">Admin</a>
      <a (click)="logOut()">Log Out</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="ContentType === 3">
      <a mat-list-item routerLink="/Home">Home</a>
      <a mat-list-item routerLink="/Admin/Buildings">Buildings</a>
      <a (click)="logOut()">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>City Clash</span>
      <span class="spacer"></span>
      <div
        [ngClass]="{ hideDesktopLinks: isHandset$ | async }"
        class="desktopLinks"
      >
        <div *ngIf="ContentType === 1">
          <a routerLink="/Home">Home</a>
          <a routerLink="/Home/About">About</a>
        </div>
        <div *ngIf="ContentType === 2">
          <a routerLink="/Home">Home</a>
          <a routerLink="/Villages/Build">Build</a>
          <a routerLink="/Admin">Admin</a>
          <a (click)="logOut()">Log Out</a>
        </div>
        <div *ngIf="ContentType === 3">
          <a routerLink="/Home">Home</a>
          <a routerLink="/Admin/Buildings">Buildings</a>
          <a (click)="logOut()">Log Out</a>
        </div>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
    <app-footer *ngIf="ContentType === 2"></app-footer>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
