<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    position="end"
    [ngClass]="{ hideSideNav: !(isHandset$ | async) }"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over"
    opened="false"
  >
    <mat-toolbar>Menu </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/">Building</a>
      <a mat-list-item routerLink="/">Troops</a>
      <a mat-list-item routerLink="/">Store</a>
      <a mat-list-item routerLink="/">Enemies</a>
      <a mat-list-item routerLink="/">Market</a>
      <a mat-list-item (click)="logOut()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>City Clash</span>
      <span class="spacer"></span>
      <div
        [ngClass]="{ hideDesktopLinks: isHandset$ | async }"
        class="desktopLinks"
      >
        <a routerLink="/">Home</a>
        <a routerLink="/">Building</a>
        <a routerLink="/">Troops</a>
        <a routerLink="/">Store</a>
        <a routerLink="/">Enemies</a>
        <a routerLink="/">Market</a>
        <a (click)="logOut()">Logout</a>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
