<mat-toolbar>
  <mat-toolbar-row>
    <mat-toolbar-row>
      <mat-grid-list role="list" cols="1" rowHeight="100px">
        <mat-grid-tile role="listitem" colspan="1" rowspan="1">
          <span class="padding">User:</span>{{ UserAddress }}
          <span class="spacer"></span>
          <mat-icon
            fontSet="fas"
            fontIcon="fa-coins"
            class="padding gold"
          ></mat-icon
          >0
          <mat-icon
            fontSet="fas"
            fontIcon="fa-flask"
            class="padding elixir"
          ></mat-icon
          >0
          <mat-icon
            fontSet="fas"
            fontIcon="fa-gem"
            class="padding gem"
          ></mat-icon
          >0
        </mat-grid-tile>
        <mat-grid-tile role="listitem" colspan="1" rowspan="1">
          <span class="padding">Network:</span>{{ Network }}
        </mat-grid-tile>
      </mat-grid-list>
    </mat-toolbar-row>
  </mat-toolbar-row>
</mat-toolbar>
