<mat-toolbar>
  <mat-toolbar-row>
    <mat-toolbar-row>
      <div class="nextline">
        <span class="padding">User: {{ UserAddress }}</span>
        <span class="padding smallsize">Network: {{ Network }}</span>
      </div>
      <span class="spacer"></span>
      <mat-icon
        fontSet="fas"
        fontIcon="fa-coins"
        class="padding gold"
      ></mat-icon
      >0
      <mat-icon
        fontSet="fas"
        fontIcon="fa-flask"
        class="padding elixir"
      ></mat-icon
      >0
      <mat-icon fontSet="fas" fontIcon="fa-gem" class="padding gem"></mat-icon>0
    </mat-toolbar-row>
  </mat-toolbar-row>
</mat-toolbar>
